{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true
  },
  "plugins": ["unicorn", "header"],
  "rules": {
    "unicorn/filename-case": "error",
    "curly": "error",
    "eqeqeq": "error",
    "no-return-await": "error",
    "require-await": "error",
    "header/header": [
      "error",
      "line",
      [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: Apache-2.0"]
    ]
  },
  "overrides": []
}
